:root {
    --width: 90%;
    --font-size: 14px;
    --brown: #996633;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    background-color: var(--brown);
}

#header h1 {
    color: #eee; 
}

#list {
    flex: 1;
    width: var(--width);
    padding: 10px;
    overflow-y: scroll;
}

.list-item {
    display: grid;
    grid-template-columns: [start] 32px [content] 1fr [end] 32px;
}

.list-item.status {
    grid-column: start;
}

.icon {
    font-size: 20px;
}

.list-item .content {
    grid-column: content;
    border-bottom: 2px solid black;
    margin-top: 5px;
}

.list-item .content.complete {
    color: gray;
    border-bottom: 2px solid lightgray;
}

.list-item .delete {
    grid-column: end;
}

.list-item .delete .icon {
    margin-left: 10px;
}

#menu {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brown);
}

#menu textarea {
    margin-left: 15px;
    height: 1.5em;
    width: 80%;
    max-width: 500px;
    overflow: none;
    resize: none;
}

#menu button {
    margin-left: 5px;
    height: 32px;
    width: 32px;
    font-size: 16px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
    background-color: yellow;
    font-weight: bold;
}